body{
    background: rgba(245, 245, 245, 0)
}
h1{
    font-size: large;
    color: rgb(40, 76, 74);
    text-align: center;
}
p{
    font-size: 30px ;
    color:rgb(0, 171, 163) ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
    text-align: justify;
}
img{
    width: 300px;
    height: 300px;
    margin: 300px;
    margin-left: 130px;
}